@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #000000;
  --font-outfit: "Outfit", sans-serif;
  --font-caveat: "Caveat", cursive;
}

@theme {
  --color-primary: #67c090;
  --color-sblack: #000000;
  --color-swhite: #ffffff;
}

body {
  background: var(--background);
  font-family: var(--font-outfit);
  color: var(--color-swhite);
}

.font-caveat {
  font-family: var(--font-caveat);
}
